*, *:before, *:after {/*Seletor universal*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body { /*Elemento = tag da linguagem HTML*/
    font-size: 18px;
    font-family: arial, sans-serif;
    line-height: 1.4;
    color: #333333;
    background: #333333;
}

.tudo {/* Cria um classe CSS */
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background: #ffffff;
}

.topo {
    width: 100%;
    line-height: 1;
    padding: 1px 20px 10px 20px;
}

.topo h1, .info h1 {
    font-size: 36px;
    margin: 4px 0 2px 0;
    text-align: right;
}

.topo a{
    color: #990000;
    text-decoration: none;
}

.topo h2 {
    font-size: 20px;
    margin: 2px 0 4px 0;
    text-align: right;
}

nav > ul {
    margin-left: 50px;
    width:  100%;
    background: #990000;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

nav{
    border-top: 1px solid #990000;
    width: 100%;
    width: calc(100% + 40px);
    margin-left: -20px;
}

.topo ul li {
    list-style: none;
    display: inline;
}

.topo ul li a {
    float: left;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid #ffffff;
    padding: 10px 20px;
    color: #ffffff;
    background: #990000;
    font-size: 14px;
    font-weight: bold;
}

.topo ul li:last-child a {
    border: none;
}

.topo ul li a:hover, .home .corrente {
    color: #990000;
    background: rgb(255,185,185);
}

form {
    margin: 0 2.7em 1em;
    width: 600px;
    padding: 1em;
    border: 1px solid #cccccc;
    border-radius: 1em;
    display: inline-block;
}

fieldset {
    border-radius: 1em;
}

.botao {
    padding-left: 90px;
    margin-left: .5em;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    font: 1em arial,sans-serif;
    width: 400px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999999;
    border-radius: 1em;
}

input:focus, textarea:focus {
    border-color: #000000;
    border-radius: 1em;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.info {
    margin: 1em auto;
    width: 700px;
    border: 1px solid #cccccc;
    border-radius: 1em;
}

.info h1{
    text-align: left;
}

.info ul li {
    list-style-type: none;
}

.info span {
    font-weight: bolder;
}

.msg{
    width: 400px;
    height: 250px;
    position: relative;
    float: left;
    margin: 0.5em;
}

.imgcontato {
    width: 250px;
    padding-top: 42px;
    height: 250px;
    position: relative;
    float: right;
    margin: 0.5em;
}

.imgcontato img {
    width: 200px;
}